body {
  margin: 0px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

header {
  width: 100%;
  height: 15%;
  background-color: lightgrey;
}
footer {
  width: 100%;
  height: 15%;
  background-color: lightgrey;
}
.container {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 68%;
}

.content-a {
  background-color: lightgreen;
  width: 50%;
}

.content-b {
  order: -1;
  background-color: green;
  width: 25%;
}
.content-c {
  background-color: yellow;
  width: 25%;
}

@media all and (max-width: 912px) {
    .container {
      display: flex;
      flex-flow: row wrap;
      width: 100%;
      height: 68%;
    }
    .content-a {
      order: -1;
      width: 100%;
      height: 67%;
    }
    .content-b{
      width: 50%;
      height: 100%;
    }
    .content-c{
      width: 50%;
      height: 100%;
    }
  }

@media all and (max-width: 540px) {
  .container {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 68%;
  }
  .content-a {
    order: -1;
    width: 100%;
    height: 50%;
  }
  .content-b{
    width: 100%;
    height: 25%;
  }
  .content-c{
    width: 100%;
    height: 25%;
  }
}

/* 
* {
  border: 1px solid red;
} */
