body {
  margin: 0px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

header {
  width: 100%;
  height: 15%;
  background-color: lightgrey;
}
footer {
  width: 100%;
  height: 15%;
  background-color: lightgrey;
}
.container {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 68%;
}

.left {
  display: flex;
  flex-flow: column nowrap;
  width: 70%;
  height: 100%;
}
.content-a {
  background-color: red;
  height: 100%;
  width: 100%;
}

.content-b {
  background-color: orange;
  height: 100%;
  width: 100%;
}

.content-c {
  background-color: yellow;
  height: 100%;
  width: 30%;
}

@media all and (max-width: 912px) {
  .left{
    width: 50%;

  }
  .content-c{
    width: 50%;
  }
  
}
@media all and (max-width: 540px) {
  .container{
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 68%;
  }
  .left{
    width: 100%;
    height: 66.6%;
  }
  .content-c{
    width: 100%;
    height: 33.34%;
  }
  
}

/* * {
  border: 1px solid red;
} */